html,body{
	height:100%;
}
/*START OF NAVBAR*/
nav.non-sticky{
	padding:45px;
	width:100%;
	z-index:10;
	-webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: linear;
}
nav.sticky{
	padding:20px 45px 20px 45px;
	width:100%;
	position:fixed;
	z-index:10;
	background:black;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
	 -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in;
	 -moz-transition-property: all;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
	opacity:0.7;
}
nav.sticky:hover{
	opacity:1;
}
nav:after{
	content:"";
	display:block;
	clear:both;
}
nav p{
	float:left;
	font-family: 'Raleway', sans-serif;
	color:white;
}
nav ul{
	float:right;
}
nav ul li{
	display:inline;
	margin: 0 10px;
	font-family: 'Raleway', sans-serif;
}
nav ul li a{
	color:white;
}
nav ul li a:hover{
	text-decoration:none;
}
/*END OF NAVBAR*/
/*START OF WRAPPER-IMAGE */
div.wrapper-image{
	height:100%;
	position:relative;
	background:black;
	z-index:20;
}
nav{
	padding:45px;
	width:100%;
}
section#cover{
	background:url("../images/sunset.jpg");
	position:absolute;
	background-size:cover;
	top:0;
	right:0;
	left:0;
	bottom:0;
	height:100%;
	background-repeat:no-repeat;
	opacity:0.7;
}
/*END OF WRAPPER-IMAGE */
section#introduction{
	margin:150px 0;
}
.center{
	text-align:center;
	color:white;
	font-family: 'Poiret One', cursive;
	font-weight:bold;
}
h2.center{
	display:none;
}
div.wrapper-body{
	background:#ecf0f1;
	z-index:-10;
}
div.about,div.resume,div.social{
	padding-top:125px;
	padding-bottom:125px;
}
.about-title,.projects-title{
	text-align:center;
	font-family: 'Lato', sans-serif;
	color:#2c3e50;
	font-weight:500px;
	margin-bottom:50px;
}
.resume-title{
	font-size:50px;
	color:#38B5F0;
	padding-bottom:7px;
	border-bottom:3px solid #38B5F0;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
.resume-heading,.resume-list{
	margin-top:40px;
	color:#38B5F0;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
.resume-list{
	padding-left:20px;
	margin-top:0;
	color:rgb(78, 70, 70);
}
.resume-heading-sub{
	font-weight:bold;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	color:rgb(78, 70, 70);
	text-transform:uppercase;
}
section.intro-paragraph{
	text-align:center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:17px;
	font-weight:300px;
	color:#7f8c8d;
	padding-bottom:30px;
	padding-top:30px;
}
section.intro-paragraph p{
	margin-top:30px;
}
section.intro-paragraph ol{
	text-align:left;
	display:block;
}
section.traveling h3, section.gaming h3, section.technology h3{
	margin-top:20px;
	font-size:18px;
	color:#2c3e50;
}

div.wrapper-projects{
	background:#57B7F7;
}
div.projects{
	padding-top:125px;
	padding-bottom:125px;
	z-index:-10;
}
section.projects-paragraph{
	color:black;
	font-size:17px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
section.images img{
	position:relative;
	 -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: linear;
	width:456px;
	height:253px;
	margin-bottom:50px;
	margin-top:30px;
}
section.images img:hover{
	border:4px solid #7f8c8d;
	box-shadow: 0 2px 3px rgba(70,70,70,1.0);
}
div.wrapper-social{
	background:rgb(194, 194, 43);
}

div.social{
	min-height:600px;
	height:100%;
	padding-top:175px;
	padding-bottom:175px;
}

.social-title{
	text-align:right;
	font-size:62px;
	color:white;
	font-weight:500px;
	font-family:'Raleway', sans-serif;
	margin-bottom:20px;
}
div.social p{
	text-align:right;
	font-family:'Poiret One', cursive;
	font-size:30px;
}
div.social .fa{
	float:right;
	margin-left:30px;
	color:white;
}
div.social .facebook:hover{
	color:#0C4266;
}
div.social .linkedin:hover{
	color:rgb(94, 94, 83);
}
div.social .github:hover{
	color:rgb(126, 9, 148);
}
div.social .mail:hover{
	color:rgb(155, 38, 38);
}
